@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Nunito+Sans:wght@300&family=Roboto:wght@400;700&family=Work+Sans:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Nunito+Sans:wght@300&family=Roboto:wght@400;700&family=Work+Sans:ital,wght@0,700;1,400&family=Ysabeau+SC:wght@500&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0A2647;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #E3F4F4;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  font-family: 'Ysabeau SC', sans-serif;}

.TodoWrapper {
  background: #144272;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #669adf;
  padding: 0.5rem 1rem;
  margin-top: 16px;
  margin-bottom: 2rem;
  width: 300px;
  color: #ffffff;
  font-family: 'Exo 2', sans-serif;
}


.todo-input::placeholder {
  color: #f5eded4d;
  
}

.todo-btn {
  background: #2C74B3;
  color: #fff;
  border: #1B6B93;
  padding: 8px 8px 6px 7px;
  cursor: pointer;

  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f77ac;
  color: #c5eafd;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
  
}

.completed {
  color: #d0edfc;
  text-decoration: line-through;
}